Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Amy Hodge <amyhodge@stanford.edu>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Ariel Rokem <arokem@gmail.com>
Chandler Wilkerson <chwilk@gmail.com>
Erin Becker <erinstellabecker@gmail.com>
Evan P. Williamson <evanpeterw@gmail.com>
Fiona Tweedie <FCTweedie@users.noreply.github.com>
François Michonneau <francois.michonneau@gmail.com>
François Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Ivan Gonzalez <iglpdc@gmail.com> <iglpdc@users.noreply.github.com>
James Allen <james@sharelatex.com> <jamesallen0108@gmail.com>
Kate Hertweck <k8hertweck@gmail.com>
Lex Nederbragt <lex.nederbragt@bio.uio.no> <lex.nederbragt@ibv.uio.no>
Mike Jackson <m.jackson@software.ac.uk> <michaelj@epcc.ed.ac.uk>
Neal Davis <davis68@illinois.edu> <davisneale@gmail.com>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Rayna M. Harris <raynamharris@users.noreply.github.com>
Rémi Emonet <remi@heeere.com> <remi.emonet@reverse--com.heeere>
Rémi Emonet <remi@heeere.com> <twitwi@users.noreply.github.com>
Steve Crouch <s.crouch@software.ac.uk>
Timothée Poisot <t.poisot@gmail.com> <tim@poisotlab.io>
