Aron Ahmadia <aron@ahmadia.net>
James Allen <jamesallen0108@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Erin Becker <erinstellabecker@gmail.com>
Trevor Bekolay <tbekolay@gmail.com>
John Blischak <jdblischak@gmail.com>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Erik Bray <erik.m.bray@gmail.com>
Abigail Cabunoc <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Steve Crouch <s.crouch@software.ac.uk>
Neal Davis <davis68@illinois.edu> <davisneale@gmail.com>
Matt Davis <jiffyclub@gmail.com>
Jonah Duckles <jonah@duckles.org>
Rémi Emonet <remi@heeere.com> <remi.emonet@univ-st-etienne.fr>
Félix-Antoine Fortin <felix.antoine.fortin@gmail.com>
Ivan Gonzalez <iglpdc@gmail.com>
Chris Hamm <chamm@ku.edu>
Michael Hansen <hansen.mike@gmail.com>
Rayna Harris <rayna.harris@utexas.edu>
Felix Henninger <FelixHenninger@users.noreply.github.com>
Konrad Hinsen <research@khinsen.fastmail.net>
Amy Hodge <amyhodge@stanford.edu>
Mike Jackson <michaelj@epcc.ed.ac.uk>
W. Trevor King <wking@tremily.us>
Justin Kitzes <jkitzes@berkeley.edu>
Christina Koch <christinakconnect@gmail.com> <koch.christinal@gmail.com>
Tom Liversidge <tom@liversidge.me>
François Michonneau <francois.michonneau@gmail.com>
Bill Mills <mills.wj@gmail.com>
Lex Nederbragt <lex.nederbragt@bio.uio.no> <lex.nederbragt@ibv.uio.no>
Aaron O'Leary <aaron.oleary@gmail.com>
Elizabeth Patitsas <patitsas@cs.toronto.edu>
Aleksandra Pawlik <aleksandra.n.pawlik@gmail.com>
Fernando Perez <Fernando.Perez@berkeley.edu>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Ariel Rokem <arokem@gmail.com>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br> <raniere@rgaiacs.com>
Tracy Teal <tracyt@idyll.org>
Tim Tröndle <timtroendle@posteo.de>
Fiona Tweedie <fiona.c.tweedie@gmail.com>
Jill-Jênn Vie <vie@jill-jenn.net>
Jordan Walker <jiwalker@usgs.gov>
Alistair Walsh <alistair.walsh@me.com>
Belinda Weaver <b.weaver@uq.edu.au>
Ethan White <ethan@weecology.org>
Chandler Wilkerson <chwilk@gmail.com>
Jason Williams <JasonJWilliamsNY@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Anelda van der Walt <anelda@users.noreply.github.com>
