<p><img alt="Pedagogical Content Knowledge" src="../fig/pck.svg" /></p>
<hr/>
<p><img alt="Feedback Feelings" src="../fig/deathbulge-jerk.jpg" /></p>
<hr/>
<p><img alt="Key Concepts" src="../fig/for-loop-concepts.png" /></p>
<hr/>
<p><img alt="Relationships" src="../fig/for-loop-arcs.png" /></p>
<hr/>
<p><img alt="Recommendations" src="../fig/for-loop-rec.png" /></p>
<hr/>
<p><img alt="" src="../fig/array-math.png" /></p>
<hr/>
<p><img alt="" src="../fig/conditionals.png" /></p>
<hr/>
<p><img alt="" src="../fig/create-destroy.png" /></p>
<hr/>
<p><img alt="" src="../fig/dict-set.png" /></p>
<hr/>
<p><img alt="" src="../fig/io.png" /></p>
<hr/>
<p><img alt="" src="../fig/lists-loops.png" /></p>
<hr/>
<p><img alt="Software Carpentry and Data Carpentry Comparison" src="../fig/SWCvsDC.png" /></p>
<hr/>
<p><img alt="What to Teach" src="../fig/what-to-teach.png" /></p>
<hr/>
<p><img alt="I love sharing ideas with people. The best moments in life, for me, are facilitating intellectual insights along with personal connections. Those moments are what build a community that continues living in hope and adventure, especially important in times of fear and division. I teach to make those moments possible for myself and for others." src="../fig/christinalk_whyiteach.png" /></p>
