<p><img alt="Pedagogical Content Knowledge" src="{{ site.root }}/fig/02/pck.svg" /></p>
<hr/>
<p><img alt="Feedback Feelings" src="{{ site.root }}/fig/04/deathbulge-jerk.jpg" /></p>
<hr/>
<p><img alt="Key Concepts" src="{{ site.root }}/fig/05/for-loop-concepts.png" /></p>
<hr/>
<p><img alt="Relationships" src="{{ site.root }}/fig/05/for-loop-arcs.png" /></p>
<hr/>
<p><img alt="Recommendations" src="{{ site.root }}/fig/05/for-loop-rec.png" /></p>
<hr/>
<p><img alt="Software Carpentry and Data Carpentry Comparison" src="{{ site.root }}/fig/10/SWCvsDC.png" /></p>
<hr/>
<p><img alt="What to Teach" src="{{ site.root }}/fig/17/what-to-teach.png" /></p>
