<p><img alt="Pedagogical Content Knowledge" src="{{ site.root }}/fig/pck.svg" /></p>
<hr/>
<p><img alt="Feedback Feelings" src="{{ site.root }}/fig/deathbulge-jerk.jpg" /></p>
<hr/>
<p><img alt="Key Concepts" src="{{ site.root }}/fig/for-loop-concepts.png" /></p>
<hr/>
<p><img alt="Relationships" src="{{ site.root }}/fig/for-loop-arcs.png" /></p>
<hr/>
<p><img alt="Recommendations" src="{{ site.root }}/fig/for-loop-rec.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/array-math.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/conditionals.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/create-destroy.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/dict-set.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/io.png" /></p>
<hr/>
<p><img alt="" src="{{ site.root }}/fig/lists-loops.png" /></p>
<hr/>
<p><img alt="Software Carpentry and Data Carpentry Comparison" src="{{ site.root }}/fig/SWCvsDC.png" /></p>
<hr/>
<p><img alt="What to Teach" src="{{ site.root }}/fig/what-to-teach.png" /></p>
