<div class="banner">
  <div class="row">
    <div class="col-sm-3" align="center" vertical-align="middle">
      <a href="http://software-carpentry.org" title="Software Carpentry">
	<img alt="Software Carpentry banner" src="img/SWC_logo.png" />
      </a>
    </div>
    <div class="col-sm-6" align="center" vertical-align="middle">
      <h2>Instructor Training</h2>
    </div>
    <div class="col-sm-3" align="center" vertical-align="middle">
      <a href="http://datacarpentry.org" title="Data Carpentry">
	<img alt="Data Carpentry banner" src="img/DC_logo.png" />
      </a>
    </div>
  </div>
</div>
