<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h1 class="maintitle">{{ page.title }}</h1>
  </div>
  <div class="col-md-1">
  </div>
</div>

<meta property="og:url" content="{{ page.root }}/{{ page.previous.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="Lesson episode summary - keypoints?" />
<meta property="og:image" content="http://carpentries.github.io/instructor-training/fig/skill-level.svg" />
