{% comment %}
  Generic footer.
{% endcomment %}
{% include episode_find_prev_next.html %}
<hr/>
<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
	Copyright &copy; 2016
	{% if site.carpentry == "swc" %} Software Carpentry Foundation {% endif %}
	{% if site.carpentry == "dc" %} Data Carpentry {% endif %}
      </h4>
    </div>
    <div class="col-md-6" align="right">
      <h4>
	<a href="https://github.com/{{ site.account }}{{ site.root }}">Source</a>
	/
	<a href="https://github.com/{{ site.account }}{{ site.root }}/blob/gh-pages/CONTRIBUTING.md">Contributing</a>
	/
	<a href="mailto:{{ site.email }}">Contact</a>
      </h4>
    </div>
  </div>
</footer>
