  <meta charset="utf-8" />
  <title>Software Carpentry: {{ page.venue }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{ site.parent_domain }}/favicon.ico"><!-- must remain in your root directory -->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/swc-lesson.css" />

  <meta name="description" content="Software Carpentry is volunteer non-profit organization dedicated to teaching basic computing skills to researchers." />
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
